.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #9e313c;
  color: white;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 0 20px;
  text-align: center;
}

.footer-section h3 {
  font-size: 1.2em;
  margin-bottom: 15px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-section ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #f09d42;
}

.footer-section ul li svg {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .footer-section {
    margin: 10px 0;
  }
}
